.mainContainer {
  background-color: bisque;
  padding: 4vmin;
}
.container {
  margin: 2vmin;
  text-align: center;
  max-width: auto;
  background-color: beige;
}

#navigation {
  display: flexbox;
  flex-direction: row;
  padding: 2vmin;
}

#image {
  height: auto;
  width: 57vmin;
}

#mainImage {
  text-align: center;
}

#ingredient {
  max-width: auto;
  text-align: justify;
}

#steps {
  text-align: justify;
}
#title {
  text-align: center;
}
